<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      {{ partial "docs/menu" . }}
    </aside>
    <div class="book-page">
      {{ partial "docs/mobile-header" . }}
<!---->
<section id="main">
    <div class="categories_list">
    <div class="categories_title"><span>{{ .Title }}</span></div>
    </div>
    <ul id="list">
        {{ range .Data.Pages }}
        <li>
            {{ .Date.Format "2006-01-02" }}
             <a href="{{ .RelPermalink }}">{{ .Title }}</a>
         </li>
         {{ end }}
     </ul>
     <hr>
     <a href="{{ .Site.BaseURL }}categories">Categories</a>
 </section>
<!---->
      {{ partial "docs/git-footer" . }}
      {{ partial "docs/inject/footer" . }}
    </div>
    {{ partial "docs/toc" . }}
  </main>

  {{ partial "docs/inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
