<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>
<meta charset="utf-8">
<title>List of {{ .Title }} -- {{ .Site.Title }}</title>
</head>
<body>
<section id="main">
  <div>
    <h1 id="title">{{ .Title }}</h1>
    <div class="tags_list">
    {{ range $key, $value := .Data.Terms }}
        <div class="tags_item">
            <a href="{{ $key | urlize }}">{{ $key }} <span class="tags_number">{{ len $value }}</span></a>
        </div>
     {{ end }}
     </div>
   </div>
</section>

</body>
<html>
